body {
    background-image:url("../images/bg-picture.jpg");
    background-repeat: repeat;
    height:100%;
    max-width: 100%;
    margin: 0;
    font: 100% normal;
}

img {
    max-width: 100%;
}

.clearfix {
    clear:both;
}

.site-header  {
    background-image:url("../images/line.png");
    background-repeat:repeat-x;
    width:100%;
    position: absolute; 
    left: 0; 
    top: 0; 
 }

.site-footer {
    background-image:url("../images/line-f.png");
    background-repeat:repeat-x;
    margin: auto;
    width:100%;
    height: 110px;
    margin-top: -110px;
    padding-top: 16px;
    font: 1em 'PT Sans', sans-serif;
    color: #666666;
}

.site-container {
    width:66.66%;       /*800/1200*/
    margin: 0px auto;
}

.content { 
    padding-top: 322px;
    padding-bottom: 210px;  
}

.logo  {
    position: absolute; 
    top: 16px;
    left: 10px;
    font:small-caps bold 1.5em  'PT Sans', sans-serif; /*24/16*/
    letter-spacing: 0.1em;
}

h1  {
    font: 4.5em 'PT Serif', serif; /*72/16*/
    margin: 0;
}

h2  {
   font: bold 1.125em 'PT Sans', sans-serif; /*18/16*/
   text-decoration: underline;
}

    h2 a  {
        color:#000000;
    }
 
p {
   font: 0.875em 'PT Sans', sans-serif; /*14/16*/
}

/*---------Main-------*/
.login  {
    position: fixed;
    top: 16px;
    right: 10px;
}

#grey  {
    text-decoration: none;
    border-bottom: 1px dashed #666666;
    font: 0.875em 'PT Sans', sans-serif; /*14/16*/
    color: #666666;
}

.center  {
    text-align: center;
    padding-top: 120px;   
}

.center ul  {
    margin: 0;
    padding: 0;
}

   .center ul li {
        display: inline;
        font: 1.125em 'PT Sans', sans-serif; /*18/16*/
    }
        .center ul li a {
            text-decoration: none;
            color: #000000;
        }

.news {
    padding-bottom:46px;
}

.layer1{
    position: relative;
    float:left; 
    margin: 0px 2.5%0 0; /*20/800*/
}

.layer2{
    position: absolute;
    left:-40px;
    top: -10px;
    padding: 6px 7px;
    font:italic 0.875em 'PT Sans', sans-serif; /*14/16*/
    color: #ffffff;
}

#r {
    background:#ff6666;
}

#g {
    background:#99cc66;
}

#b {
    background:#6699cc;
}

#blur {
    width: 100%;
    height: 100%;
    background: #000000;
    opacity: .3;
    position: fixed;
    z-index: 0;
}

.login-form {
    height: 230px;
    width: 366px;
    top:284px;
    left: 50%;
    margin-left: -183px;
    background-color: #ffffff;
    position: absolute;
    z-index: 1;
    padding: 56px 0 0 64px;
    box-shadow: 0 0 10px rgba(0,0,0,1); 
}

form {
    display: block;
    margin-top: 0em;
}

.login-form input {
    width: 240px;
    height: 25px;
}

    .login-form .button  {
        width: 69px;
        padding-top: 2px;
        margin-right: 10px;
    }

/*--------News_1-----*/

nav {
     margin-top: 16px;
     text-align: center;
     font: 0.875em 'PT Sans', sans-serif; /*14/16*/
}

a {
    color:#003366;
}

    nav li  {
        display: inline;
        margin-left: 20px;
    }
/*----User Menu----*/
.user{
background: rgb(252,255,244); /* Old browsers */
background: -moz-linear-gradient(top, rgba(252,255,244,1) 0%, rgba(223,229,215,1) 40%, rgba(179,190,173,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(252,255,244,1)), color-stop(40%,rgba(223,229,215,1)), color-stop(100%,rgba(179,190,173,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, rgba(252,255,244,1) 0%,rgba(223,229,215,1) 40%,rgba(179,190,173,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, rgba(252,255,244,1) 0%,rgba(223,229,215,1) 40%,rgba(179,190,173,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, rgba(252,255,244,1) 0%,rgba(223,229,215,1) 40%,rgba(179,190,173,1) 100%); /* IE10+ */
background: linear-gradient(to bottom, rgba(252,255,244,1) 0%,rgba(223,229,215,1) 40%,rgba(179,190,173,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcfff4', endColorstr='#b3bead',GradientType=0 ); /* IE6-9 */

    position: absolute;
    overflow: hidden;
    border-radius: 7px;
    top:16px;
    padding: 3px 8px 3px 5px;
    right: 10px;
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.4);
    color: #666666;
    text-shadow: 1px 1px 1px #ffffff;
    z-index: 1;
}
    .user p {
        margin: 0;
        font-size: 0.875em; /*14/16*/
    }

    .user p:before     {
        position: absolute;
        height: 8px;
        left: 8px;
        top: 10px;
        width: 8px;
        content: " ";
    }

        .user:hover p:before{
            background-position: 0 -6px;
        }

    .user ul {
        display: none;
    }

        .user:hover ul {
            display: inline;
            margin: 0;
            padding: 0;
            line-height:1.7em;
            font-size: 0.875em; /*14/16*/
        }

.user a{
    color: #666666;
}
/*------------End User menu------*/

.box{
    padding-top:134px;
}

h3{
    font: bold 1.5em 'PT Serif', sans-serif;
    margin-left: 25.625%; /*205/800*/
    margin-bottom: 30px;
}

aside{
    width: 22.25%;     /*178/800*/
    float: left;
    color: #666666;
    margin-top:135px;
}

    aside p {
       font: 0.625em/ 1.6 Verdana, sans-serif;  /*10/16*/
    }

article {
    margin-bottom: 78px;
}

.text {
    float: left;
    margin-left: 2.5%; /*20/800*/
    width: 75%;     /*600/800*/
}

section {
    width: 22.5%;     /*180/800*/
    margin-left: 2.5%; /*20/800*/
    float: left;

}

    .bottom-section {
        border-top: 3px solid #b2b2b2;
        width: 100%;
        margin: auto;
        padding-top: 20px;
        padding-bottom:36px;
        font: 0.875em "PT Sans", sans-serif; /*14/16*/
    }

    #other  {
        float: left;
        font: bold 0.875em "PT Sans", sans-serif; /*14/16*/
        color: #333333;
        top:20px;
        margin: 0;
    }

    section p {
        font-size: 0.75em; /*12/16*/
        margin: 0;
        padding: 0;
    }
/*------------------------------------------ comments --------------------------------- */
.editor {
    display: none;
    margin-top: 1px;
    padding-top: 20px;
    padding-left: 20px;
    background-color: #F3F5F5;
}

.comments-all{
    font: 1.125em 'PT Sans', sans-serif; /*18/16*/
    background-color:#E4E6E6;
    background-repeat:no-repeat;
    margin-top:30px;
    margin-bottom:20px;
    padding:10px 20px;
    height:20px;
}

.comments{
    font: 0.75em "PT Sans", sans-serif;  /*12/16*/
    border: 1px solid #cccccc;
}

.add-comment{
    border-bottom:1px dashed #000;
    cursor:pointer;
    float:right;
}

.comment-title{
    font-size:12px;
    background-color:#EAEBEB;
    margin-top:20px;
    padding:5px 20px;
    height:20px;
}
.comment-message{
    font-size:12px;
    background-color:#F1F2F2;
    padding:5px 20px;
}

.comment{
    padding:40px 50px;
}
.editor{
    display:none;
    margin-top:1px;
    padding-top:20px;
    padding-left:20px;
    background-color:#F3F5F5;
}
.comment-ans{
    float:right;
    border-bottom:1px dashed #444;
    cursor:pointer;
}

#uname{
    font-size:16px;
    font-weight:bold;
    padding:5px;
    margin:10px 10px 10px 0;
}
#submit{
    padding:10px;
    margin:15px 0;
    font-weight:bold;
}

.err {
    color: red;
}


/*------------------------------------------ iPhone --------------------------------- */
@media screen and (max-width: 640px) {
    body{
        max-width: 640px;
    }

    .site-container{
        margin: 0 auto 50px;
        width: 87.5%; /*560/640*/
    }

    .site-footer{
        height: 90px;
        margin-top: -90px;
    }

    .logo{
        left: 40px;
    }

    .login  {
        position: absolute;
        right: 40px;
    }

   .user{
       position: absolute;
       right: 40px;
   }

    .content {
        padding-top: 284px;
        padding-bottom: 157px;
    }

    .layer2{
        left:150px;
    }

    h2 {
        padding-top: 23px;
    }

    .news  p {
        padding-top: 3%;
    }

    nav {
        padding-left: 20px;
        text-align: left;
        margin-top: 55px;

    }

    .box{
        padding-top: 80px;
    }

    h3{
        margin: auto;
    }

    .text{
        width: 100%;
        margin: auto;
    }

    .bottom-section{
        width: 100%; /*560/640*/
    }

    aside {
        display: none;
    }

    #other {
        float:none;
        margin: 0;
        width: 100%
    }

    section{
        width: 32.4%;     /*175/540*/
        margin: 30px 0.925% 0 0; /*5/540*/
        float: left;
    }
}




